@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-start; /* Align navbar to the left */
  padding: 40px 10px 10px 40px; /* Add top padding */
  font-family: 'Lexend', sans-serif;
  margin-left: 60px;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.nav-item {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.indicator {
  position: absolute;
  bottom: -2px;
  height: 4px;
  background-color: #714B67; /* Indicator color */
  border-radius: 10px 10px 0 0; /* Rounded top corners only */
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}
