  .price-tag {
    
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border: 3px solid #714B67;
      border-radius: 25px;
      padding: 10px 20px;
      width: fit-content;
      
      position: fixed;
      bottom: 40px; /* Position from bottom */
      right: 40px;  /* Position from right */
      
      z-index: 1000; /* Ensure it stays on top */
    }
    
  

  .price-circle {
    width: 30px;
    height: 30px;
    background: #714B67;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    
  }

  .price-inner-circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    
  }

  .price-amount {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
